body{
    background-color: rgb(219, 255, 243);
}
h1{
    color: blue;
    size: 10px;
}
img{
    background-color: cornflowerblue;
}
.mushroom{
    background-color: whitesmoke;
}
.teacup{
    background-color: skyblue;
}
.circular{
    border-radius: 100%;
}
#heading{
    color: orange;
}